.about{
    background-color: #333333;
    color: #EEEEEE;

}

.about-content{
    margin-left: 10%;
}


.about p{
    /* display: inline; */
    /* float: left; */
    margin-left: 7%;
    /* text-align: center; */
}

body{	
    font-family: 'proxima-nova', sans-serif;
    margin: 0;
    font-family: 'proxima-nova', sans-serif;
}

.footer{
    color: #EEEEEE;
    height: 15em;
    background-color: #666666;
}

.footer a{
    color: #EEEEEE;

}

.mainDiv{
    padding-top: 1em;
    padding-bottom: 23em;
    display: block;

}

.mainDiv h2{
    margin-left: 3%;
}

.navbar{
    background-color: #000000;
    padding: 0.4em 0;
}
.navbar a{
    color: #EEEEEE;
    margin-left: 0.75em;
}

#profilePicture{
    object-fit: cover;
    height: 18em;
    width: 18em;
    border-radius: 50%;
    /* display: inline; */
    float: left;
}

.resume{
    width: 50%;
    height: 80em;
    align-items: center;
    display:block;
    border-style:none;
    margin-left: auto;
    margin-right: auto 

}

.songs{
    align-self: center;
    width: 70%;
    text-align: center;
    /* position: absolute;
    display: inline; */
    margin: auto;
}

.songs iframe{
    width: 43%;
}

.workVideo{
    display:block;
    border-style:none;
    margin-left: auto;
    margin-right: auto 
}
.work{
    padding-bottom: 10em ;
}